.bigheader {
  position: relative;
  top: 0px;
  z-index: 3;
}
@media (max-width: 1000px) {
  .bigheader {
    position: sticky;
    top: 0;
  }
}
.jolanta {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  letter-spacing: 2px;
}
