.navdesctop {
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  width: 100vw;
  padding-right: 10%;
  padding-left: 10%;
  height: 4em;
  padding-bottom: 1em;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
  align-items: end;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255, 0.86);
  z-index: 3;
}

.linkstyle {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) {
  .navdesctop {
    display: none;
  }
}
