.navdesctop {
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  height: 4em;
  padding-bottom: 1em;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
  align-items: end;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: rgb(255, 255, 255, 0.86);
}

@media (max-width: 1000px) {
  .navdesctop {
    display: none;
  }
}
