.textjolanta {
  text-align: center;

  /* font: 20px Inknut Antiqua; */

  font-size: 20px;
}

.textaround {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
