.imageblock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: "20px";
}
.textjolanta {
  text-align: center;
  width: 1111px;
  font: 20px Inknut Antiqua;
}
.textaround {
  display: flex;
  justify-content: center;
}
